{% extends 'base.html.twig' %}

{% block title %}New Visa{% endblock %}

{% block body %}
    <h1>Create new Visa</h1>

    {{ include('visa/_form.html.twig') }}

    <a href="{{ path('app_visa_index') }}">back to list</a>
{% endblock %}
