{% extends 'base.html.twig' %}

{% block title %}New Souhait{% endblock %}

{% block body %}
    <h1>Create new Souhait</h1>

    {{ include('souhait/_form.html.twig') }}

    <a href="{{ path('app_souhait_index') }}">back to list</a>
{% endblock %}
